.info {
	padding-top: 60px;
}

.info__title {
	font-size: 60px;
	line-height: 1;
	color: #a30049;
	text-transform: uppercase;
	font-weight: 200;
	padding-bottom: 50px;
}

.info__content {
	position: relative;
	z-index: 3;
}

.info .stock__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.info .stock__item {
	width: -webkit-calc(100% / 3 - 40px);
	width: calc(100% / 3 - 40px);
	margin: 0 20px;
	margin-bottom: 40px;
}

.nav-links {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

.navigation {
	margin: 0 auto;
	text-align: center;
}

.navigation a,
.navigation span {
	text-decoration: none;
	font-size: 14px;
	line-height: 1.4;
	color: #851216;
	font-weight: 200;
	-webkit-transition: 0.3s -webkit-box-shadow;
	transition: 0.3s -webkit-box-shadow;
	-o-transition: 0.3s box-shadow;
	transition: 0.3s box-shadow;
	transition: 0.3s box-shadow, 0.3s -webkit-box-shadow;
}

.navigation a:hover {
	background-color: #851216;
	color: #fff;
}

.navigation .page-numbers {
	display: block;
	max-width: 31px;
	width: 100%;
	border: 1px solid #bc7e80;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding: 5px 8px;
	margin: 0px 8px;
	font-weight: 400;
	-webkit-transition: 0.3s color, 0.3s border, 0.3s background-color;
	-o-transition: 0.3s color, 0.3s border, 0.3s background-color;
	transition: 0.3s color, 0.3s border, 0.3s background-color;
}

.navigation .page-numbers.current {
	cursor: default;
	background-color: #851216;
	border: 1px solid #851216;
	color: #fff;
}

@media screen and (max-width: 1150px) {

.info .stock__item {
	width: -webkit-calc(100% / 2 - 40px);
	width: calc(100% / 2 - 40px);
}

}

@media screen and (max-width: 960px) {

.info__title {
	font-size: 45px;
}

}

@media screen and (max-width: 780px) {

.info .stock__wrap {
	margin: 0px;
}

.info .stock__item {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}

}

